<div class="container">
  <%= cl_image_tag @user.photo, height: 300, width: 400, crop: :fill %>
  <%= @user.username %>
  <%= @user.description %>
  <%= @user.rating %>

  <% if @user = current_user %>
    <%= link_to "Edit your bio", edit_user_path(@user) %>
  <% end %>

  <%= link_to "Back to moment", moment_path %>
</div>
