<h1>Activities#new</h1>
<p>Find me in app/views/activities/new.html.erb</p>

<div class="container">

  <h1>Create new Activity</h1>

  <%= simple_form_for @activity do |f| %>
    <%= f.input :name %>
    <%= f.input :category %>
    <%= f.input :description %>
    <%= f.submit "add ur Activity", class: "btn btn-primary"%>
  <% end %>
</div>
