<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="card grow" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(/assets/images/moment.photo.jpg);">
    <div class="card-content">
      <div class="card-category">
        <%= moment.category %> <span>(<%= moment.level %>)</span>
      </div>
      <div class="card-description">
        <ul class="list-unstyled">
          <li><%= truncate(moment.description, length: 35) %></li>
          <li>Location: <%= moment.location %></li>
        </ul>
      </div>
      <%= cl_image_tag(moment.user.photo) %>
      <a class="card-link" href="#" ></a>
      <%= link_to 'Details', moment_path(moment), class: 'btn btn-default' %>
    </div>
  </div>
</div>

