<div class="photo-background">
  <div class="container">
    <div class="form-layout-container">
     <div class="form-container-new">
      <div class="form-content">
        <%= simple_form_for @moment do |f| %>
          <%= f.input :activity %>
          <%= f.select :category, collection: ['Cinema', 'Concert', 'Drink', 'Exhibition', 'Food', 'Games', 'Shopping', 'Sport', 'Travel', 'Visit'] %>
          <%= f.input :description %>
          <%= f.input :location %>
          <%= f.select :level, collection: ['Beginner', 'Easy', 'Average', 'Hard', 'Hell'] %>
          <div class="group-times">
            <%= f.input :start_time, as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.input :end_time, as: :string, required: false, input_html: {class: "datepicker"} %>
          </div>
          <div class="form-btn">
            <%= f.submit "Add", class: "btn btn-primary" %>
            <%= link_to 'Back to Moments', moments_path, class: 'btn btn-info' %>
          </div>
        <% end %>
       </div>
      </div>
    </div>
  </div>
</div>





