<div class="container">
  <div class="moment-main-info">
    <ul>
      <li><%= @moment.category %></li>
      <li><%= @moment.activity %></li>
      <li><%= @moment.description %></li>
      <li><%= @moment.location %></li>
    </ul>
  </div>
  <div class="moment-date">
    <ul>
      <li>
        Starting on <%= @formatted_start %>
      </li>
      <li>
        Ending on <%= @formatted_end %>
      </li>
    </ul>
  </div>

<%= link_to user_path(@moment.user_id) do %>
  <img class="user" src="assets/images/moment.photo.jpg">
<% end %>

<%= link_to 'Back to Moments List', moments_path, class: 'btn btn-info' %>
<%= link_to 'Bookings', moment_bookings_path(@moment), class: 'btn btn-success' %>
<%= link_to 'Join This Moment', new_moment_booking_path(@moment) %>
<% if @moment.user == current_user %>
  <%= link_to 'Edit Moment', edit_moment_path, :class => 'btn btn-primary' %>
  <%= link_to 'Delete this moment', moment_path, method: :delete, class: 'btn btn-danger' %>
<% end %>
</div>
