<div class="container">
<ul>
  <li><%= @moment.category %></li>
  <li><%= @moment.activity %></li>
  <li><%= @moment.description %></li>
  <li><%= @moment.location %></li>
  <li><%= @moment.start_time %></li>
  <li><%= @moment.end_time %></li>
</ul>

<%= link_to user_path(@moment.user_id) do %>
  <img class="user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
<% end %>

<%= link_to 'Back to Moments List', moments_path, class: 'btn btn-info' %>
<% if @moment.user == current_user %>
  <%= link_to 'Edit Moment', edit_moment_path, :class => 'btn btn-primary' %>
  <%= link_to 'Delete this moment', moment_path, method: :delete, class: 'btn btn-danger' %>
<% end %>
</div>
